<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-size: 40px;
    color: rgb(3, 99, 3);
}

h3 {
    font-weight: bolder;
    color: rgb(3, 46, 3);
}

h4 {
    font-weight: 600;
    color: rgb(6, 82, 6);
}

/* ----------------------- HEADER ----------------------*/
@media (max-width:468px) {

    header {
        position: relative;
        background-color: red;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 130px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.menu {
    display: flex;
    align-content: center;
    /* list-style=viñetas */
    list-style: none;
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.menu a {
    color: white;
    padding: 4px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 120%;
}

.menu a:hover {
    color: green;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: solid;
    text-decoration-line: underline;
    text-decoration-color: green;
}

/* ----------------------- FOOTER ----------------------*/
footer {
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 130px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.flex {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-top: 40px;
}

footer nav ul li {
    background-color: rgb(5, 73, 5);
    color: white;
    border-radius: 6px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 6px;
    cursor: pointer;
}

footer nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
}

footer nav ul li a:hover {
    color: rgb(5, 73, 5);
    background-color: white;
    padding: 5px;
    font-weight: bolder;
    border-radius: 6px;
}

/* ----------------------- INDEX-MAIN ----------------------*/
main {
    align-content: center;
    padding-top: 130px;
    background-color: whitesmoke;
    height: 70%;
}

main .sec1 {
    display: flex;
    height: 60%;
}

.divText {
    width: 40%;
    align-content: center;
    text-align: center;
    padding-top: 5%;
}

.btnTienda a {
    text-decoration: none;
    color: white;
}

.btnTienda {
    font-size: 90%;
    font-weight: bold;
    border-radius: 10px;
    width: 25%;
    background-color: green;
    border: none;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 80px;
}

.btnTienda:hover {
    font-size: 110%;
    background-color: rgb(5, 73, 5);
    color: white;
    border: none;
    padding: 10px;
    width: 30%;
}

.divImg {
    /* display: flex; */
    width: 60%;
    /* justify-content: flex-end; */
    background-image: url("../img/fondo_index.jpg");
    background-position: right;
    background-repeat: no-repeat;
}

main .sec2 {
    display: flex;
    height: 10%;
    background-color: rgb(5, 73, 5);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.sec2 div {
    width: 25%;
    background-color: whitesmoke;
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
    font-size: medium;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

main .sec3 {
    height: 30%;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.destacados {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 150px;
}

.destacados div {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 8px;
    width: 33%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.destacados div:hover {
    background-color: rgb(5, 73, 5);
    color: white;
    cursor: pointer;
}

.destacados div h3:hover {
    color: white;
}

/* ----------------------- CONTACTO-MAIN ----------------------*/
.todo{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-image: url("../img/fondo_mix.jpg");
    background-size: cover;
    background-position: bottom;
} 

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.form label{
    text-align: left;
}

.form btnConfirmar{
    align-items: center;
}

.manito {
    cursor: pointer;
}

.faq{
    margin-left: 20px;
}

/* ----------------------- JABONIZARTE-MAIN ----------------------*/
.jabonizarte {
    padding: 20px;
    background-image: url("../img/fondo_mix.jpg");
    background-size: cover;
    background-position: bottom;
    /* background-color: red; */
}

.bold {
    font-family: cursive;
    color: rgb(3, 99, 3);
}

.sombrear {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(255 255 255 / 80%);
    padding: 20px;
    border-radius: 6px;
}

/* ----------------------- MI-CUENTA-MAIN ----------------------*/
.micuenta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.micuenta h2,
.micuenta h3 {
    margin: 10px;
    text-align: center;
}

i{
    margin-bottom: 5px;
}

.gridOptions {
    display: grid;
    grid-template-areas:
        "esc dir"
        "ped aju"
        "exit exit"
    ;
    margin: 20px;
    color: white;
    width: 30%;
}

.esc {
    grid-area: esc;
}

.dir {
    grid-area: dir;
}

.ped {
    grid-area: ped;
}

.aju {
    grid-area: aju;
}

.exit {
    grid-area: exit;
}

.boton {
    border: solid 2px black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: green;
    margin: 8px;
}

.boton:hover {
    background-color: rgb(22, 97, 22);
    cursor: pointer;
    transform: scale(1.02);
    transition: .3s;
    font-weight: bolder;

=======
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-size: 40px;
    color: rgb(3, 99, 3);
}

h3 {
    font-weight: bolder;
    color: rgb(3, 46, 3);
}

h4 {
    font-weight: 600;
    color: rgb(6, 82, 6);
}

/* ----------------------- HEADER ----------------------*/
@media (max-width:468px) {

    header {
        position: relative;
        background-color: red;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 130px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.menu {
    display: flex;
    align-content: center;
    /* list-style=viñetas */
    list-style: none;
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.menu a {
    color: white;
    padding: 4px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 120%;
}

.menu a:hover {
    color: green;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: solid;
    text-decoration-line: underline;
    text-decoration-color: green;
}

/* ----------------------- FOOTER ----------------------*/
footer {
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 130px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.flex {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-top: 40px;
}

footer nav ul li {
    background-color: rgb(5, 73, 5);
    color: white;
    border-radius: 6px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 6px;
    cursor: pointer;
}

footer nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
}

footer nav ul li a:hover {
    color: rgb(5, 73, 5);
    background-color: white;
    padding: 5px;
    font-weight: bolder;
    border-radius: 6px;
}

/* ----------------------- INDEX-MAIN ----------------------*/
main {
    align-content: center;
    padding-top: 130px;
    background-color: whitesmoke;
    height: 70%;
}

main .sec1 {
    display: flex;
    height: 60%;
}

.divText {
    width: 40%;
    align-content: center;
    text-align: center;
    padding-top: 5%;
}

.btnTienda a {
    text-decoration: none;
    color: white;
}

.btnTienda {
    font-size: 90%;
    font-weight: bold;
    border-radius: 10px;
    width: 25%;
    background-color: green;
    border: none;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 80px;
}

.btnTienda:hover {
    font-size: 110%;
    background-color: rgb(5, 73, 5);
    color: white;
    border: none;
    padding: 10px;
    width: 30%;
}

.divImg {
    /* display: flex; */
    width: 60%;
    /* justify-content: flex-end; */
    background-image: url("../img/fondo_index.jpg");
    background-position: right;
    background-repeat: no-repeat;
}

main .sec2 {
    display: flex;
    height: 10%;
    background-color: rgb(5, 73, 5);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.sec2 div {
    width: 25%;
    background-color: whitesmoke;
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
    font-size: medium;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

main .sec3 {
    height: 30%;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.destacados {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 150px;
}

.destacados div {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 8px;
    width: 33%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.destacados div:hover {
    background-color: rgb(5, 73, 5);
    color: white;
    cursor: pointer;
}

.destacados div h3:hover {
    color: white;
}

/* ----------------------- CONTACTO-MAIN ----------------------*/
.todo{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-image: url("../img/fondo_mix.jpg");
    background-size: cover;
    background-position: bottom;
} 

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.form label{
    text-align: left;
}

.form btnConfirmar{
    align-items: center;
}

.manito {
    cursor: pointer;
}

.faq{
    margin-left: 20px;
}

/* ----------------------- JABONIZARTE-MAIN ----------------------*/
.jabonizarte {
    padding: 20px;
    background-image: url("../img/fondo_mix.jpg");
    background-size: cover;
    background-position: bottom;
    /* background-color: red; */
}

.bold {
    font-family: cursive;
    color: rgb(3, 99, 3);
}

.sombrear {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(255 255 255 / 80%);
    padding: 20px;
    border-radius: 6px;
}

/* ----------------------- MI-CUENTA-MAIN ----------------------*/
.micuenta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.micuenta h2,
.micuenta h3 {
    margin: 10px;
    text-align: center;
}

i{
    margin-bottom: 5px;
}

.gridOptions {
    display: grid;
    grid-template-areas:
        "esc dir"
        "ped aju"
        "exit exit"
    ;
    margin: 20px;
    color: white;
    width: 30%;
}

.esc {
    grid-area: esc;
}

.dir {
    grid-area: dir;
}

.ped {
    grid-area: ped;
}

.aju {
    grid-area: aju;
}

.exit {
    grid-area: exit;
}

.boton {
    border: solid 2px black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: green;
    margin: 8px;
}

.boton:hover {
    background-color: rgb(22, 97, 22);
    cursor: pointer;
    transform: scale(1.02);
    transition: .3s;
    font-weight: bolder;

>>>>>>> 19e353f5756385b92ec8bcd70939b93e34abe4f8
}