@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

$fuentePrincipal: 'Rubik', sans-serif;
$fondo1: url("../img/fondo_index.jpg");
$fondo2: url("../img/fondo_mix.jpg");
$sombraCaja: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

h1 {
    font-size: 40px;
    color: rgb(3, 99, 3);
    text-shadow: 2px 1px black; 
}

h2 {
    font-size: 30px;
    color: rgb(3, 99, 3);
    font-weight: bolder;
}

h3 {
    font-weight: bolder;
    color: rgb(3, 46, 3);
}

h4 {
    font-weight: 600;
    color: rgb(6, 82, 6);
}

.bold {
    @extend %estiloBold;
}

.fondo{
    background-image: $fondo2;
   @extend %estiloFondo;
}