/* ----------------------- FOOTER ----------------------*/

.footer {
    background-color: white;
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    width: 100%;
    box-shadow: $sombraCaja;
    // 
}

@media (max-width: 992px) {
    .d-flex {
        flex-direction: column;
    }

    .footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}