/* DESKTOP ----------------------- HEADER ----------------------*/
.header {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 130px;
  position: sticky;
  width: 100%;
  top: 0;
  box-shadow: $sombraCaja;

  .nav-link {
    color: white;
    text-decoration: none;
  }

  .nav-link:hover,
  .nav-link.active:hover {
    background-color: white;
    transition: 0.3s;
    border-radius: 3px;
    color: green;
    font-weight: bolder;
  }

  .nav-link.active {
    font-weight: bold;
    color: white;
  }

  .navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
  }

  .navbar-nav {
    margin-left: 20px;
    background-color: green;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

}

/* MOBILE ----------------------- HEADER ----------------------*/
@media (max-width: 992px) {
  .header {
    flex-direction: column;
    justify-content: normal;
  }

  .container-fluid {
    --bs-gutter-x: 1rem;
  }

  .header .navbar-nav {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  a {
    margin-left: 8px;
  }

  .nav-item:hover {
    background-color: white;
    border-radius: 3px;
  }

  .navbar-collapse {
    box-shadow: $sombraCaja;
    border-radius: 5px;
  }
}