/* ----------------------- CONTACTO-MAIN ----------------------*/
.todo {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;

    label {
        text-align: left;
    }

    btnConfirmar {
        align-items: center;
    }
}

.manito {
    cursor: pointer;
}

.faq {
    margin-left: 20px;
}