/* ----------------------- CONTACTO-MAIN ----------------------*/
.todo {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-image: url("../img/fondo_mix.jpg");
    background-size: cover;
    background-position: bottom;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.form label {
    text-align: left;
}

.form btnConfirmar {
    align-items: center;
}

.manito {
    cursor: pointer;
}

.faq {
    margin-left: 20px;
}