/* DESKTOP ----------------------- INDEX-MAIN ----------------------*/
main {
    align-content: center;
    background-color: whitesmoke;
    height: 70%;
}

.sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: $fondo1;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.texto{
    width: 100%;
    align-content: center;
    text-align: center;
    padding-top: 5%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 5px 1px 5px black; 
}

.sec2 {
    display: flex;
    height: 15vh;
    background-color: rgb(5, 73, 5);
    box-shadow: $sombraCaja;
    align-items: center;

    div {
        width: 25%;
        background-color: whitesmoke;
        border-radius: 8px;
        margin: 15px;
        padding: 15px;
        font-size: medium;
        box-shadow: $sombraCaja;
        text-align: left;
    }
}

.sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 25vh;
    text-align: center;
    padding: 20px;
    h2{
        text-shadow: 1px 1px black;
    }

    .destacados {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    
        div {
            padding: 20px;
            border-radius: 8px;
            width: 25%;
            height: 90%;
            box-shadow: $sombraCaja;
            h3:hover {
                color: white;
            }
        }
    
        div:hover {
            background-color: rgb(5, 73, 5);
            color: white;
            cursor: pointer;
        }
    }
}



/* MOBILE ----------------------- INDEX-MAIN ----------------------*/
@media (max-width: 992px) {
    .sec2 {
        flex-direction: column;
        height: auto;

        div {
            width: 90%;
            text-align: center;
        }
    }

    .sec3{
        .destacados {
            flex-direction: column;
            
            div {
                width: 90%;
                text-align: center;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}