/* DESKTOP ----------------------- JABONIZARTE-MAIN ----------------------*/
.padding {
    padding: 20px;
}

.sombrear {
    box-shadow: $sombraCaja;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
}
