/* ----------------------- MI-CUENTA-MAIN ----------------------*/
.micuenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

i {
    margin-bottom: 5px;
}

.subHeader {
    flex-direction: column;
    align-items: center;
}

.gridOptions {
    display: grid;
    grid-template-areas:
        "esc dir"
        "ped aju"
        "exit exit"
    ;
    margin: 20px;
    color: white;
    width: 30%;
}

.esc {
    grid-area: esc;
}

.dir {
    grid-area: dir;
}

.ped {
    grid-area: ped;
}

.aju {
    grid-area: aju;
}

.exit {
    grid-area: exit;
}